<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-02-22T16:55:27Z</date>
	<key>WorkspacePath</key>
	<string>/Users/wowgorno/Documents/Body&amp;Code/Body&amp;Code.xcodeproj</string>
</dict>
</plist>
